@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Tillana:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik Beastly', cursive;
    font-family: 'Tillana', cursive;
}



.container {
    position: relative;
    padding: 30px;
   
}

.parent {
    display: flex;
    justify-content: space-between;

}

header ul li {
    display: inline;
    list-style-type: none;
    margin: 0 6px;

}

header .topNav .left ul .border {
    border: 1px solid rgb(52, 15, 189);
}

header .topNav .left ul li {
    font-size: 12px;
}

header .topNav {
    background-color: rgb(30, 30, 105);
    color: white;
    padding: 0, 5rem 0;
}

header .bottemNav .parent .left h3 img {
    margin-right: 10px;
    vertical-align: middle;
}

header .bottemNav .left h3 {

    color: rgb(34, 34, 77);
}


header .bottemNav .right ul li a {
    text-decoration: none;
    color: rgb(26, 21, 21);
    
}

.btnRequest {
    border: 1px solid #006CFF;
    padding: 10px 1rem;
    border-radius: 25px;
    background-color: #006CFF;
    color: white;
  
}

header .bottemNav  .right :hover .btnRequest{
    background-color:rgb(34, 34, 77);
     color: rgb(255, 244, 244);
}

header .bottemNav .right ul{
    height: 100%;
      display: flex;
    align-items: center;
   
}
header .bottemNav{
    padding: 0,5rem 0;
    background-color: rgba(194, 186, 176, 0.541);
}

main .parent{
    display: flex;
   
    width: 50%;
}

main .parent {
    min-height: 700px;
    width:auto;
   
    
}
main .parent .rightImage img{
    vertical-align: auto;
} 
main .parent .rightImage{
    background-color: yellow;
   text-align: center;
   line-height:50px;
}
main ul li{
    list-style-type: none;
}
main .topMain .rightImage ul li  :hover a{
    color: blueviolet;

}
main .parent .leftImage img{
    width:100%;
}
main .topMain .rightImage{
     height:500px;
}

main .topMain .rightImage .content{
   margin-left:50px ;
  margin-top: 80px;
}
.expert .box{
    width: 30%;
}

.expert .box img{
    width: 100%;
}
.expert .box  h3:hover {
    color: red;
}
.expert .box  h3:hover{
   background-color: rgb(235, 79, 79);
   border: 1px solid rgb(56, 56, 226);
   border-radius: 100px;
   text-align: center;
}
.expert{
    width: 100%;
    height:350px;
    background-color: bisque;
}
.expert h1{
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}
.expert h1:hover {
    background-image: url(../img/hero-icon.svg);
    color: red;
    border: #006CFF;
   
    
}
